@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
header {
    position: relative;
    border-bottom: solid 1px #EEEEEE;
    line-height: 60px;
    height: 60px;
    font-size: 1em;
}
header a {
    display: inline-block;
}
header .logo {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    top:0;
    left:0;
    padding: 0 15px;
    font-size: 2.5em;
    line-height: 60px;
    color: #333333;
    font-weight: 200;
}
header .logo span {
    font-weight: 400;
    color: teal;
}
header nav {
    font-family: 'Staatliches', cursive;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    list-style: none;
    width: auto;
    padding: 0 15px;
    margin: 0;
}
header nav ul li {
    float: left;
    width: auto;
}
header nav ul li a {
    font-size: 1.1em;
    letter-spacing: 2px;
    color: #333333;
    background-color: white;
    line-height: 30px;
    border-radius: 15px;
    padding:0 15px;
}
header nav ul li a:hover {
    color: #333333;
    background-color: #F6F6F6;
}
header nav ul li a:active {
    color: white;
    background-color: teal;
}
header nav ul li a span {
    opacity: 0.75;
    color: gray;
    margin-right: 5px;
}
header nav ul li a:hover span {
    opacity: 1;
    color: teal;
}
header nav ul li a:active span {
    opacity: 1;
    color: white;
}